target/
*.class
*.log
*.vcd
*.fir
generated/verilog/
generated/wave/
generated/optimization/
generated/resource_reuse/
generated/scale/
.venv/
.pytest_cache/
test_run_dir/
__pycache__/
*.pyc
.metals/
.bloop/
.vscode/
.idea/
project/target/
project/project/
